<IfModule mod_rewrite.c>

    <IfModule mod_negotiation.c>
        Options +FollowSymLinks -MultiViews -Indexes
    </IfModule>

    RewriteEngine On
    RewriteBase /

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*?)$ index.php [QSA,L]
    RewriteRule ^(app|cache|public|vendor|src)/?$ - [F,L]

</IfModule>