@charset "UTF-8";
* {
  box-sizing: border-box;
}

html, body {
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: #777;
}

h2 {
  font-size: 1.3rem;
  font-weight: 900;
  color: #777;
}

h3 {
  font-size: 1.2rem;
  font-weight: 800;
  color: #777;
}

button {
  cursor: pointer;
}

body {
  display: grid;
  grid-template-areas: "aside header header" "aside main main" "aside main main";
  grid-gap: 0;
  grid-template-columns: auto 1fr 1fr;
  background: #fff;
  font-size: 100%;
  font-family: "Nunito", sans-serif;
}

aside {
  display: flex;
  grid-area: aside;
  flex-direction: row;
  max-width: 300px;
  background-color: #F7F6F4;
  border-right: 1px solid #eee;
}
aside .nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  width: 80px;
}
aside .nav-bar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 60px;
  border-bottom: 1px solid #eee;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-size: 300px 1vh;
  background-position: top left;
}
aside .nav-bar .logo h1 {
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
}
aside .nav-bar nav {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}
aside .nav-bar nav li {
  list-style: none;
}
aside .nav-bar nav li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 10px;
  width: 65px;
  height: 65px;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: #F7F6F4;
  transition: all 1s linear 0.1s;
}
aside .nav-bar nav li > a i {
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 1s linear 0.1s;
}
aside .nav-bar nav li > a.active {
  background-color: #0A0C45;
  color: #fff;
}
aside .nav-bar nav li > a.active i {
  transition: all 0.3s;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
aside .nav-bar nav li > a:hover {
  transition: all 0.5s;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
aside .nav-bar nav li > a:hover i {
  transition: all 0.5s;
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
aside .nav-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: calc(300px - 80px);
}
aside .nav-container header {
  position: relative;
  display: flex;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-position: top right;
  background-size: 300px 1vh;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid #eee;
  border-radius: 0px 50px 50px 0;
  transform-style: preserve-3d;
}
aside .nav-container header::after {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 100%;
  width: 100%;
  transform: translateZ(-1px);
  content: "";
}
aside .nav-container header h1 {
  color: #0a0c45;
  margin-left: 15px;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 1.3px;
}
aside .nav-container .container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  position: relative;
}
aside .nav-container .container .content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
aside .nav-container .container .content.container-btns ul {
  display: flex;
  flex-direction: column;
  flex: 1;
}
aside .nav-container .container .content.container-btns ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
}
aside .nav-container .container .content.container-btns ul li a {
  background: #eee;
  border-radius: 5px;
  padding: 10px;
  margin: 7px 10px;
  text-decoration: none;
  color: #0A0C45;
  font-weight: bold;
  font-size: 1.03rem;
  transition: all 0.5s linear 0.1s;
}
aside .nav-container .container .content.container-btns ul li a:hover {
  background-color: #0A0C45;
  color: #fff;
}
aside .nav-container .container .content .content-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px 10px;
  padding: 7px 10px;
  border-left: 2px solid #0A0C45;
}
aside .nav-container .container .content .content-title h3 {
  font-size: 1rem;
  color: #0A0C45;
  letter-spacing: 1.05px;
}
aside .nav-container .container .content .list {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
}
aside .nav-container .container .content .list a.article {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  flex-direction: column;
  padding: 8px 8px;
  border-bottom: 1px solid #E7EAF4;
}
aside .nav-container .container .content .list a.article:hover {
  transition: all 0.5s;
  border-radius: 5px;
  background: #ccc;
}
aside .nav-container .container .content .list a.article .article-title {
  font-weight: bold;
  font-size: 0.9rem;
  color: #0A0C45;
}
aside .nav-container .container .content .list a.article .article-content {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 1.3;
  font-weight: 500;
  color: #555;
  letter-spacing: 1.2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
aside .nav-container .container .content.last-content {
  margin: 0px 15px;
  display: flex;
  position: absolute;
  width: calc(100% - 30px);
  bottom: 15px;
}

header.top-header {
  display: flex;
  grid-area: header;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
  height: 60px;
  top: 0;
  background: #fff;
  border-bottom: 1px solid #eee;
}
header.top-header .primary-header {
  display: flex;
  align-items: center;
}
header.top-header .primary-header input {
  border: 1px solid #eee;
  border-radius: 20px 0 0 20px;
  width: 350px;
  padding: 10px 20px;
}
header.top-header .primary-header input + button {
  border: 1px solid #eee;
  background: #fff;
  color: #aaa;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  margin-left: -5px;
}

main {
  display: flex;
  grid-area: main;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  flex: 1;
}
main .container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 60px);
  min-height: calc(100vh - 60px);
  padding: 0px 30px;
  flex: 1;
}
main .container .home-title {
  padding: 15px 0px;
}
main .container .home-title h1 {
  font-size: 2rem;
  font-weight: 100;
  color: #ccc;
}
main .container .home-title h1 b {
  color: #aaa;
  font-weight: 400;
}
main .container .content {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  margin-bottom: 10px;
  justify-content: start;
}
main .container .content .box {
  display: flex;
  background: #fff;
  border: 1px solid #eee;
  padding: 15px;
  border-radius: 15px;
}
main .container .content .box + .box {
  margin-left: 20px;
}
main .container .content .section-box {
  display: flex;
}
main .container .content .section-container {
  grid-column: 1/span 4;
  display: flex;
}
main .container .content .section-container div {
  flex: 1;
  border-right: 1px solid #eee;
}
main .container .content .section-container div > h1 {
  color: #0A0C45;
  font-size: 1.2rem;
  font-weight: 400;
}
main .container .content .section-container div > * {
  margin-left: 10px;
}
main .container .content .section-container div:first-child > * {
  margin-left: 0;
}
main .container .content .section-container div:last-child {
  border-right: none;
}

button.ico-btn, a.ico-btn {
  display: flex;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  border: none;
  border-radius: 5px;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;
  height: 40px;
  cursor: pointer;
  background-size: 200px 200px;
  background-position: top left;
  transition: all 0.5s;
  min-width: 100px;
}
button.ico-btn:hover, a.ico-btn:hover {
  background-position: bottom right;
}
button.ico-btn i, a.ico-btn i {
  border-radius: 5px 0px 0px 5px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  padding: 13.5px 10px;
}
button.ico-btn span, a.ico-btn span {
  display: flex;
  flex: 1;
  justify-content: center;
}

.article-search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 0;
  margin-top: 20px;
  margin-bottom: 10px;
}
.article-search form {
  flex: 1;
  display: flex;
}
.article-search input {
  flex: 1;
  border: 1px solid #eee;
  border-radius: 20px 0 0 20px;
  padding: 10px 20px;
}
.article-search input + button {
  border: 1px solid #eee;
  background: #fff;
  color: #aaa;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  margin-left: -5px;
}
.article-search custom-selector.article-by {
  border: 1px solid #eee;
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px 20px;
  width: 250px;
}

.article-sort {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  font-weight: bold;
  font-size: 0.9rem;
}

#articles > .article-list {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 320px;
  grid-gap: 20px;
}
#articles > .article-list .article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #eee;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  background: #fff;
  transition: all 0.5s;
}
#articles > .article-list .article:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
  -webkit-box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
  -moz-box-shadow: 0px 6px 15px 0px rgba(74, 99, 231, 0.1);
  z-index: 999;
}
#articles > .article-list .article .article-title {
  display: flex;
  flex-direction: column;
  position: relative;
}
#articles > .article-list .article .article-title h2 {
  position: absolute;
  bottom: 5px;
  margin-left: 15px;
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  z-index: 999;
}
#articles > .article-list .article .article-title picture {
  position: relative;
  display: flex;
  border-radius: 20px 20px 0px 0px;
  height: 130px;
  background: linear-gradient(90deg, #c02d28, #e66225);
  z-index: 1;
}
#articles > .article-list .article .article-title picture::after {
  border-radius: 20px 20px 0px 0px;
  content: "";
  transform: translateZ(-1);
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(104.33deg, rgba(0, 24, 244, 0.5) 1.43%, rgba(0, 255, 148, 0.5) 100%);
}
#articles > .article-list .article .article-title picture img {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#articles > .article-list .article .article-cat {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}
#articles > .article-list .article .article-cat .cat {
  font-size: 0.7rem;
  padding: 5px 10px;
  border-radius: 15px;
  background: #EBFFEA;
  color: #74EA65;
}
#articles > .article-list .article .article-content {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  color: #8A99A2;
  font-size: 0.9rem;
  line-height: 1.4;
  flex: 1;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  margin: 15px 0;
}
#articles > .article-list .article .article-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  background: #fff;
  border-radius: 0 0 15px 15px;
}
#articles > .article-list .article .article-footer span {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #777;
}
#articles > .article-list .article .article-footer span img {
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
#articles > .article-list .article .article-footer span * + span {
  margin-left: 5px;
  margin-top: 2px;
}

.sortby {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown {
  position: relative;
  display: flex;
  width: 120px;
  flex-direction: column;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px;
}
.dropdown span {
  display: none;
}
.dropdown span.active {
  display: block;
}
.dropdown:active span.active {
  border-bottom: 1px solid #ddd;
}
.dropdown:active span {
  display: block;
  background: #fff;
}

.create-post {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.create-post .content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 30px;
}
.create-post .content input {
  border-bottom: 0px solid #ddd;
  margin-top: 10px;
  padding: 10px 0px;
  font-size: 1.3rem;
  font-weight: bold;
}
.create-post .content .article_url {
  display: flex;
  flex-direction: row;
  font-size: 0.8rem;
  color: #777;
  padding: 5px 0;
  align-items: center;
}
.create-post .content .article_url i {
  padding: 3px;
}
.create-post .content .article_url .url_link {
  margin-left: 5px;
  font-style: italic;
}
.create-post .content .article-tags {
  display: flex;
  margin-top: 5px;
  margin-left: 0px;
}
.create-post .content .article-tags .tag {
  margin-right: 5px;
  font-size: 0.7rem;
  padding: 7px 15px;
  border-radius: 20px;
  font-weight: 900;
  background: #EBFFEA;
  color: #74EA65;
}
.create-post .content myb-editor {
  position: relative;
  min-height: calc(100% - 120px);
  max-height: 100%;
  margin-top: 10px;
}
.create-post .content myb-editor iframe.editor-text {
  position: absolute;
  height: 100%;
  width: 100%;
}
.create-post .content myb-editor textarea {
  display: none;
}
.create-post .content myb-editor editor-tab {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  height: 50px;
  bottom: 10px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  padding: 0 5px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #fff;
  font-weight: bold;
  color: #ccc;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.create-post .content myb-editor editor-tab .divider {
  display: flex;
  background: rgba(0, 0, 0, 0.15);
  width: 1px;
  height: 35px;
  margin: 0 7px;
}
.create-post .content myb-editor editor-tab button.item {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #ccc;
  font-size: 0.9rem;
  min-width: 35px;
  height: 35px;
  padding: 8px;
  border-radius: 5px;
  transition: all 0.5s linear 0.1s;
  appearance: none;
  background: transparent;
}
.create-post .content myb-editor editor-tab button.item * {
  pointer-events: none;
}
.create-post .content myb-editor editor-tab button.item i {
  transition: all 0.5s linear 0.1s;
}
.create-post .content myb-editor editor-tab button.item:last-child {
  border-right: 0px;
}
.create-post .content myb-editor editor-tab button.item:hover {
  color: #1a1a1a;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.create-post .content myb-editor editor-tab custom-selector.item-selector {
  color: #ccc;
  font-size: 0.9rem;
  display: flex;
  width: 140px !important;
  min-width: 140px;
  align-items: flex-start;
  background: transparent;
  transition: all 0.5s linear 0.1s;
  padding: 10px;
  border-radius: 5px;
}
.create-post .content myb-editor editor-tab custom-selector.item-selector:hover {
  color: #1a1a1a;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}
.create-post .content myb-editor editor-tab custom-selector.item-selector:hover i {
  background-color: #fff;
}
.create-post .content myb-editor editor-tab custom-selector.item-selector i {
  padding: 5px;
  border-radius: 5px;
  background-color: #ccc;
  color: #000;
  font-size: 0.8rem;
}
.create-post .content myb-editor editor-tab custom-selector.item-selector span {
  word-wrap: nowrap;
  margin-left: 10px;
}
.create-post .content myb-editor editor-tab:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.create-post .sidebar {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 10vh);
  width: 300px;
  background: transparent;
  border-right: 1px solid #eee;
  padding: 10px;
  overflow-y: scroll;
}
.create-post .sidebar a.side-button, .create-post .sidebar button.side-button {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-bottom: 10px;
  align-items: center;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-weight: bold;
  background-size: 300px 300px;
  color: #000;
  text-decoration: none;
  border-radius: 10px;
}
.create-post .sidebar a.side-button:active, .create-post .sidebar button.side-button:active {
  color: #ccc;
}
.create-post .sidebar a.side-button i, .create-post .sidebar button.side-button i {
  background: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-left: 5px;
}
.create-post .sidebar a.side-button span, .create-post .sidebar button.side-button span {
  margin-left: 15px;
  font-weight: bold;
}
.create-post .sidebar .side-box {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #eee;
  background-color: #fff;
  height: auto;
  width: 100%;
  margin: 10px 0;
  box-shadow: 0px 5px 13px 0px rgba(74, 99, 231, 0.1);
}
.create-post .sidebar .side-box figure.thumbnail {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #000;
  height: 160px;
  border-radius: 20px;
}
.create-post .sidebar .side-box figure.thumbnail picture.thumbnail {
  position: relative;
  max-width: 100%;
  max-height: 160px;
}
.create-post .sidebar .side-box figure.thumbnail picture.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.create-post .sidebar .side-box figure.thumbnail picture.thumbnail button.cover-btn {
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.create-post .sidebar .side-box figure.thumbnail h1.pic-title {
  position: absolute;
  top: 18px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 5px 15px 5px 15px;
  border-radius: 0 20px 20px 0;
}
.create-post .sidebar .side-box .box-title {
  font-weight: bold;
  font-size: 1.1rem;
}
.create-post .sidebar .side-box .box-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  word-wrap: break-word;
  margin: 8px 10px;
}
.create-post .sidebar .side-box .box-content .pub-option {
  display: flex;
  flex-direction: column;
  padding: 5px 5px;
}
.create-post .sidebar .side-box .box-content .pub-option label {
  display: flex;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
  color: #999;
  font-size: 0.78rem;
  margin-bottom: 8px;
}
.create-post .sidebar .side-box .box-content .pub-option label i {
  margin-right: 5px;
  color: #777;
}
.create-post .sidebar .side-box .box-content .pub-option span {
  font-size: 0.9rem;
}
.create-post .sidebar .side-box input.box-title {
  font-weight: bold;
  font-size: 1.1rem;
  color: #777;
  border-bottom: 1px solid #eee;
  margin: -10px -10px;
  padding: 10px;
}
.create-post .sidebar .side-box .cat-results {
  overflow-y: auto;
}
.create-post .sidebar .side-box .cat-results ul > li {
  list-style: none;
  border-radius: 5px;
  background: #f1f2f6;
  padding: 8px 10px;
  margin: 10px;
}
.create-post .sidebar .side-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 80px;
  grid-gap: 10px;
  margin-top: 10px;
}
.create-post .sidebar .side-grid a.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  padding: 5px;
  line-height: 1rem;
  background: transparent;
  text-decoration: none;
  border: 2px solid #F1F3F7;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  color: #777;
  text-transform: uppercase;
  font-weight: bold;
}
.create-post .sidebar .side-grid a.box:hover {
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.create-post .sidebar .side-grid a.box i {
  padding: 5px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-left: 5px;
  font-size: 1.2rem;
}
.create-post .sidebar .side-grid a.box span {
  text-align: center;
  font-size: 0.75rem;
  margin-top: 7px;
}

.preferences {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2em;
  margin-top: 30px;
  padding: 30px;
}
.preferences .preference-divider {
  display: flex;
  flex-direction: column;
}
.preferences .preference-divider:last-child {
  margin-right: 0;
}
.preferences .submit-region {
  display: flex;
  flex: 1;
}
.preferences .submit-region button {
  width: 350px;
  padding: 10px;
  border-radius: 5px;
  background-size: 350px;
}
.preferences .submit-region button:hover {
  background-size: 800px;
  color: #0A0C45;
}
.preferences .pref-title {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.preferences .pref {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 10px 0;
}
.preferences .pref label {
  touch-action: manipulation;
  letter-spacing: 0.02em;
  color: #0A0C45;
  font-weight: 600;
  left: 10px;
  font-size: 0.95rem;
}
.preferences .pref .customselector {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 350px;
  padding: 7px 10px;
  transition: border 0.5s;
}
.preferences .pref .customselector[value] {
  border-color: #0A0C45;
}
.preferences .pref .customselector:hover {
  border-color: #0A0C45;
}
.preferences .pref input {
  margin-top: 15px;
  border-radius: 25px;
  border: 1px solid #ccc;
  padding: 6px 10px;
  width: 350px;
  /*&:focus ~ label,
  &:active ~ label {
    transform: translateY(-32px);
    color: #222;
    font-weight: 600;
    left: 0;
    font-size: 0.95rem;
  }*/
}
.preferences .pref input ~ label {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 36px;
  left: 10px;
  font-size: 0.9rem;
  font-weight: normal;
  color: #777;
  transition: all 0.3s, color 0.5s;
  touch-action: manipulation;
  letter-spacing: 0.02em;
  cursor: text;
}
.preferences .pref input::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}
.preferences .pref input:focus, .preferences .pref input:hover, .preferences .pref input:not(:placeholder-shown) {
  border-color: #0A0C45;
}
.preferences .pref input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.preferences .pref input:not(:placeholder-shown) + label, .preferences .pref input:focus + label {
  transform: translateY(-29px);
  color: #0A0C45;
  font-weight: 600;
  left: 10px;
  font-size: 0.95rem;
}

.search-cat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.search-cat form > input {
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 8px 15px;
  min-width: 350px;
}

table.category-list {
  position: relative;
  width: 100%;
  border-collapse: collapse;
}
table.category-list td, table.category-list th {
  border: 1px solid #ddd;
  padding: 8px;
}
table.category-list th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #eee;
  color: #777;
  font-weight: bold;
}
table.category-list td {
  min-height: 25px;
}
table.category-list tr:hover {
  background-color: #ddd;
}

.bg-yellow {
  background-color: #FBF448 !important;
  border-color: #FBF448 !important;
}

.blue {
  color: #0A0C45;
}

.border-box {
  position: relative;
}

.border-box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -1.8px;
  /* !importanté */
  border-radius: inherit;
  /* !importanté */
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

button.btn,
a.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}
button.btn.gradient-btn,
a.btn.gradient-btn {
  padding: 8px;
  align-items: center;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  font-weight: bold;
  background-size: 300px 300px;
  margin: 0 5px;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  margin-top: 5px;
  transition: all 0.5s;
}
button.btn.gradient-btn:active,
a.btn.gradient-btn:active {
  color: #ccc;
}
button.btn.gradient-btn:hover,
a.btn.gradient-btn:hover {
  background-position: right bottom;
}
button.btn.gradient-btn i,
a.btn.gradient-btn i {
  background: rgba(255, 255, 255, 0.5);
  padding: 8px;
  border-radius: 20px;
  font-size: 0.9rem;
  margin-left: 5px;
}
button.btn.gradient-btn i + span,
a.btn.gradient-btn i + span {
  margin-left: 15px;
  font-weight: bold;
}
button.btn.blur-btn,
a.btn.blur-btn {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;
  font-weight: bold;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal-outer {
  position: absolute;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 999999;
}

.modal {
  position: absolute;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  min-width: 700px;
  height: 450px;
  border: 1px solid #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal header {
  display: flex;
  padding: 20px;
  background: #eee;
}
.modal main {
  padding: 20px;
}